.my{
    margin-top: 20px;
    margin-left: 55px;
    opacity: 50%;
}

.get{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    margin-left:50px;
    margin-top: 20px;
}

.icon {
    margin-top: 15px;
    width: 30px;
    margin-bottom: 5px; 
  }
  
 .skills {
    font-size: 14px; 
  }
  